.debug {
    border: 1px solid black;
}

.container {
    margin-top: 10px;
}

.row {
    margin-top: 10px;
}

.centered {
    margin-top: 50px;
    margin-left: 50px;
}

.btn-app {
    margin-left: 53px;
}